/*
  Authors : Mudey Formation
  Website : https://mudey.fr/
  App Name : E-commerce with React.Js
  Created At : 09/03/2024 15:03:54
*/

.Inbox {
  
}

.contact-link{
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: var(--bg);
  padding: 5px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
.contact-link i{
  color: white;
}

