/*
  Authors : Mudey Formation
  Website : https://mudey.fr/
  App Name : E-commerce with React.Js
  Created At : 09/03/2024 18:57:21
*/

.MessageBox {
  height: var(--header-height);
}
.MessageBox input{
  border: 1px solid #e0dfdf;
  outline-color: var(--bg) !important;
}
.MessageBox .message-input{
  flex: 1;
}
.MessageBox i{
  color: var(--bg);
}
